@import '../../assets/css/theme';

.set {
  padding-bottom: .5rem;
}

@setBox_marginTop: .24rem;
@setBox_paddingLeft: .4rem;
@setItem_h: 1.386rem;
@setItem_fontSize: .36rem;
.set_box {
  margin-top: @setBox_marginTop;
  padding: 0 @setBox_paddingLeft;
  background-color: #fff;
  .set_item {
    height: @setItem_h;
    line-height: @setItem_h;
    font-size: @setItem_fontSize;
    border-bottom: 1px solid #eee;
    &:last-child {
      border: none;
    }
  }
  .arrow {
    background: url(../../assets/img/arrow.png) no-repeat right center / .2rem auto;
  }
  .switch {
    @switch_w: 1.37rem;
    @switch_h: .85rem;
    @switch_padding: .05rem;
    @switchBar_w: @switch_h - 2 * @switch_padding;
    width: @switch_w;
    height: @switch_h;
    margin-top: (@setItem_h - @switch_h) / 2;
    padding: @switch_padding;
    border-radius: @switch_w / 2;
    &.on {
      background-color: @theme;
    }
    &.off {
      background-color: @gray_btn;
    }
    .switch_bar {
      width: @switchBar_w;
      height: @switchBar_w;
      border-radius: 50%;
      background-color: #fff;
      &.on {
        float: right;
      }
      &.off {
        float: left;
      }
    }
  }
  .edition {
    color: #666;
  }
}

.out {
  @out_h: 1.173rem;
  height: @out_h;
  width: 8.93rem;
  line-height: @out_h;
  margin: 1.32rem auto 0;
  color: #999;
  border: 1px solid #ddd;
  border-radius: @out_h / 2;
  text-align: center;
}
