@import "../../assets/css/theme";

.home {
  padding-top: 1.2rem;
}

.v_header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 1.2rem;
  line-height: 1.2rem;
  color: white;
  background-image: @nav_bg;
  text-align: center;
  font-size: .55rem;
  z-index: 100;
  .btn {
    height: 100%;
    width: 1.33rem;
    background-position: .4rem center;
    background-repeat: no-repeat;
    background-size: .53rem;
  }
  .my {
    background-image: url(./img/my.png);
  }
  .set {
    background-image: url(./img/set.png);
  }
}

.banner {
  height: 3.9rem;
}

@margin: .4rem;
.btns {
  text-align: center;
  padding: .2rem @margin;
  .btn {
    height: 1.6rem;
    padding-top: 1.1rem;
    width: 25%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 1.1rem 1.1rem;
  }
  .btn1 {
    background-image: url(./img/btn1.png);
  }
  .btn2 {
    background-image: url(./img/btn2.png);
  }
  .btn3 {
    background-image: url(./img/btn3.png);
  }
  .btn4 {
    background-image: url(./img/btn4.png);
  }
}

.device_lists {
  padding: 0 @margin @margin;
  .device {
    @w: 4.42rem;
    @h: 5.36rem;
    @bg_h: 4.026rem;
    @padding: .3rem;
    @content_h: @h - @bg_h - @padding;
    width: @w;
    height: @h;
    line-height: @content_h / 2;
    padding: @bg_h + @padding / 2 @padding 0;
    border-radius: .26rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% @bg_h;
    &:nth-child(odd) {
      margin-right: .36rem;
      margin-bottom: @margin;
    }
    .price {
      @bg_w: .3rem;
      padding-left: @bg_w + .2;
      background: url(../../assets/img/diamond.png) no-repeat left center / @bg_w @bg_w;
      color: #666666;
      font-size: .3rem;
    }
    .state {
      @state_h: .48rem;
      display: inline-block;
      width: 1.18rem;
      height: @state_h;
      margin-top: (@content_h - @state_h) / 2;
      border-radius: @state_h / 2;
      text-align: center;
      font-size: .3rem;
      color: white;
    }
    .state2 {
      background-color: #45C0F0;
    }
    .state3 {
      background-color: #FA97C1;
    }
  }
}
