.v_header {
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: .45rem;
  color: white;
  background-image: linear-gradient(135deg, #FA97C1, #FCB5D5);
  position: relative;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1rem;
    background: url(./back.png) no-repeat .3rem center / .35rem;
  }
}
