@import "../../assets/css/theme";

@h: 1.2rem;
.c_nav {
  height: @h;
}

.v_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @h;
  line-height: @h;
  width: 10rem;
  margin: 0 auto;
  text-align: center;
  font-size: .45rem;
  color: white;
  background-image: @nav_bg;
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1rem;
    background: url(./back.png) no-repeat .3rem center / .35rem;
  }
}
